sudo: false
language: scala

scala:
  - "2.12.6"

jdk:
  - oraclejdk8

before_cache:
  - find $HOME/.ivy2 -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt  -name "*.lock"               -print -delete

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt
    - $HOME/.m2/repository

before_install:
  - wget https://archive.apache.org/dist/maven/maven-3/3.5.4/binaries/apache-maven-3.5.4-bin.zip
  - unzip -qq apache-maven-3.5.4-bin.zip
  - export M2_HOME=$PWD/apache-maven-3.5.4
  - export PATH=$M2_HOME/bin:$PATH

env:
  matrix:
- CMD="cd akka-sample-camel-java && sbt test"
      - CMD="cd akka-sample-camel-scala && sbt test"
      - CMD="cd akka-sample-cluster-java && sbt multi-jvm:test"
      - CMD="cd akka-sample-cluster-scala && sbt multi-jvm:test"
      - CMD="cd akka-sample-distributed-data-java && sbt multi-jvm:test"
      - CMD="cd akka-sample-distributed-data-scala && sbt multi-jvm:test"
      - CMD="cd akka-sample-fsm-java && sbt test"
      - CMD="cd akka-sample-fsm-java && mvn test"
      - CMD="cd akka-sample-fsm-scala && sbt test"
      - CMD="cd akka-sample-main-java && sbt test"
      - CMD="cd akka-sample-main-java && mvn test"
      - CMD="cd akka-sample-main-scala && sbt test"
      - CMD="cd akka-sample-multi-node-scala && sbt multi-jvm:test"
      - CMD="cd akka-sample-osgi-dining-hakkers && mvn compile"
      - CMD="cd akka-sample-persistence-java && sbt test"
      - CMD="cd akka-sample-persistence-java && mvn test"
      - CMD="cd akka-sample-persistence-scala && sbt test"
      - CMD="cd akka-sample-supervision-java && sbt test"
      - CMD="cd akka-sample-supervision-java && mvn test"
      - CMD="cd akka-sample-vavr && mvn test"

script:
  - eval "$CMD"
