language: scala

scala:
  - "2.11.8"
  - "2.12.1"

jdk:
  - oraclejdk8

before_cache:
  - find $HOME/.ivy2 -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt  -name "*.lock"               -print -delete

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot

before_install:
  - wget https://archive.apache.org/dist/maven/maven-3/3.3.9/binaries/apache-maven-3.3.9-bin.zip
  - unzip -qq apache-maven-3.3.9-bin.zip
  - export M2_HOME=$PWD/apache-maven-3.3.9
  - export PATH=$M2_HOME/bin:$PATH

env:
  matrix:
    - CMD="cd akka-sample-camel-java && sbt ++\$TRAVIS_SCALA_VERSION test"
    - CMD="cd akka-sample-camel-scala && sbt ++\$TRAVIS_SCALA_VERSION test"
    - CMD="cd akka-sample-cluster-java && sbt ++\$TRAVIS_SCALA_VERSION multi-jvm:test"
    - CMD="cd akka-sample-cluster-scala && sbt ++\$TRAVIS_SCALA_VERSION multi-jvm:test"
    - CMD="cd akka-sample-distributed-data-java && sbt ++\$TRAVIS_SCALA_VERSION multi-jvm:test"
    - CMD="cd akka-sample-distributed-data-scala && sbt ++\$TRAVIS_SCALA_VERSION multi-jvm:test"
    - CMD="cd akka-sample-fsm-java && sbt ++\$TRAVIS_SCALA_VERSION test"
    - CMD="cd akka-sample-fsm-java && mvn test -P \$TRAVIS_SCALA_VERSION"
    - CMD="cd akka-sample-fsm-scala && sbt ++\$TRAVIS_SCALA_VERSION test"
    - CMD="cd akka-sample-main-java && sbt ++\$TRAVIS_SCALA_VERSION test"
    - CMD="cd akka-sample-main-java && mvn test -P \$TRAVIS_SCALA_VERSION"
    - CMD="cd akka-sample-main-scala && sbt ++\$TRAVIS_SCALA_VERSION test"
    - CMD="cd akka-sample-multi-node-scala && sbt ++\$TRAVIS_SCALA_VERSION multi-jvm:test"
    - CMD="cd akka-sample-osgi-dining-hakkers && mvn compile -P \$TRAVIS_SCALA_VERSION"
    - CMD="cd akka-sample-persistence-java && sbt ++\$TRAVIS_SCALA_VERSION test"
    - CMD="cd akka-sample-persistence-java && mvn test -P \$TRAVIS_SCALA_VERSION"
    - CMD="cd akka-sample-persistence-scala && sbt ++\$TRAVIS_SCALA_VERSION test"
    - CMD="cd akka-sample-remote-java && sbt ++\$TRAVIS_SCALA_VERSION test"
    - CMD="cd akka-sample-remote-scala && sbt ++\$TRAVIS_SCALA_VERSION test"
    - CMD="cd akka-sample-supervision-java && sbt ++\$TRAVIS_SCALA_VERSION test"
    - CMD="cd akka-sample-supervision-java && mvn test -P \$TRAVIS_SCALA_VERSION"

script:
  - eval "$CMD"
