<configuration>
    <appender name="STDOUT" target="System.out" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date{ISO8601}] [%level] [%logger] [%thread] [%X{akkaSource}] - %msg%n</pattern>
        </encoder>
    </appender>

    <!--
    <logger name="com.datastax.driver.core.QueryLogger.NORMAL" level="INFO"/>
    <logger name="com.datastax.driver.core.QueryLogger.ERROR" level="DEBUG"/>
    <logger name="com.datastax.driver.core.QueryLogger.SLOW" level="DEBUG"/>
    -->
    <logger name="com.datastax.driver.core.Connection" level="WARN"/>
    <logger name="com.codahale.metrics" level="INFO"/>
    <logger name="akka.persistence.cassandra" level="DEBUG"/>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>1024</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="STDOUT" />
    </appender>

    <root level="INFO">
        <appender-ref ref="ASYNC"/>
    </root>

</configuration>
